{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans '403 error' %}{% endblock %}
{% block content %}
	<div class="content_block">
		<img src="/static/img/404.png">
		<p>{% trans 'You shall not pass' %}</p>
	</div>
{% endblock %}
