{% load i18n %}
{% load mainmenu %}
<div class="mainmenu first_menu">
{% get_pages_for_menu as pages %}
{% for alias, page in pages %}
	<div class="menu_item
		{% if current_item == 'page' and current_alias == alias %}active">{{ page }}
		{% else %}"><a href="/{% if alias != 'index' %}cms/{{ alias }}{% endif %}">{{ page }}</a>{% endif %}
	</div>
{% endfor %}
{% if current_item == 'mailer' %}
	<div class="menu_item active">{% trans 'Mailer' %}</div>
{% endif %}
</div>

{% if not noswitch %}
<div class="languageselector">
	<form class="ru{% if LANGUAGE_CODE == 'ru' %} active{% endif %}" action="{% url 'set_language' %}" method="post">{% csrf_token %}<input name="next" type="hidden" value="{{ redirect_to }}" />
		<input type="hidden" name="language" value="ru" />
		<input type="submit" value="ru" {% if LANGUAGE_CODE == 'ru' %}disabled="disabled" {% endif %}/>
	</form>
	<form class="en{% if LANGUAGE_CODE == 'en' %} active{% endif %}" action="{% url 'set_language' %}" method="post">{% csrf_token %}<input name="next" type="hidden" value="{{ redirect_to }}" />
		<input type="hidden" name="language" value="en" />
		<input type="submit" value="en" {% if LANGUAGE_CODE == 'en' %}disabled="disabled" {% endif %}/>
	</form>
</div>
{% endif %}
