{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans app_name %}
	{% trans 'index page' %}
	|
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='mailer' %}
{% endblock %}
{% block breadcrumbs %}

{% endblock %}
{% block content %}
	<div class="content_block">
		<h1>{% trans 'Mailing lists' %}</h1>
		<form class="smallform" action="/{{ app_url }}/subscribe" method="POST">
			<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
				{% for name, id, default in lists %}
				<input type="checkbox" name="list_{{ id }}"{% if default %} checked="checked"{% endif %}/>{{ name }}<br />
				{% endfor %}
			<input class="longinput" type="text" name="email" value="{{ email }}">
			<input type="submit" value="{% trans 'Subscribe' %}">
		</form>
		<hr />
		{% if message %}<p>{{ message }}</p>{% endif %}
	</div>
{% endblock %}
