{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans app_name %}
	{% trans 'success' %}
	|
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='mailer' noswitch=True %}
{% endblock %}
{% block breadcrumbs %}

{% endblock %}
{% block content %}
	<div class="content_block">
		<h1>{% trans 'Mailing lists' %}</h1>
		<p>
{% blocktrans %}You have successfully subscribed!<br />
Check your email and perform confirmation.<br />
Only subscribers who confirmed their subscription will receive emails.{% endblocktrans %}
		</p>
	</div>
{% endblock %}
