{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans app_name as mailer_name %}
	{{ mailer_name }}
	{% trans 'unsubscribe page' %}
	|
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='mailer' %}
{% endblock %}
{% block breadcrumbs %}

{% endblock %}
{% block content %}
	<div class="content_block">
		<h1>{% trans 'Mailing lists unsubscriber' %}</h1>
		<p>
{% blocktrans %}For some reason you decided to unsubscribe<br />
This decision is yours to make but before you do I should warn you:<br />
<big><strong><span class="red">Unsubscription is irreversable</span></strong></big>.<br />
You will not be able to resubscribe to {{ mailer_name }} unless you contact administration.{% endblocktrans %}<br />
		</p>
		<p>
{% blocktrans %}Unsubscription should be only used in extreme case.<br />
In any other case you should just uncheck every mailing list.<br />
Should you unsubscribe, {{ mailer_name }} will never send you any messages anymore,<br />
not even access reminders.{% endblocktrans %}<br />
			<form action="/{{ app_url }}/unsubscribe?token={{ token }}" method="POST">
				<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
				<input type="hidden" name="token" value="{{ token }}">
				<p><a class="button" href="/{{ app_url }}/manage?token={{ token }}"><span class="green">{% trans 'I changed my mind' %}</span></a><br /></p>
				<p><input type="submit" value="{% trans 'Confirm unsubscription' %}"></p>
			</form>
		</p>
	</div>
{% endblock %}
